build/
signing-key.der

# Local garmin files (SDKs etc.)
.Garmin/
/bin/

# Docker related
.bash_history

# Eclipse stuff (occasionally in use)
.classpath
.project

# Scratch files (temporary local / personal)
/scratch/
